<?xm1 version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bg.mapper.UserLogMapper">

    <sql id="SimpleUserLogColumn">
        `create_time`,`operation`,`ip`
    </sql>

    <sql id="UserLogColumn">
        `id`,`user_id`,`method`,`params`,`create_time`,`consume_time`,`operation`,`ip`
    </sql>
    <insert id="insertUserLog" parameterType="UserLog">
        insert into `user_log` (<include refid="UserLogColumn"/>)
        values (null, #{userId}, #{method},#{params},#{createTime},#{consumeTime},#{operation},#{ip});
    </insert>

    <select id="getSimpleUserLog" resultType="SimpleUserLog">
        select <include refid="SimpleUserLogColumn"/>
        from `user_log`
        where `user_id` = #{userId} and `method` != #{method} order by `create_time` desc
    </select>

    <select id="getAllUserLogPage" resultType="UserLog">
        select <include refid="UserLogColumn"/> from `user_log` by `create_time` desc
    </select>

    <select id="getUserLogPage" resultType="UserLog">
        select * from `user_log` where `user_id` = #{userId} order by `create_time` desc
    </select>

    <select id="getSimpleUserLoginLog" resultType="SimpleUserLog">
        select <include refid="SimpleUserLogColumn"/> from `user_log`
        where `method` = #{method}
        and `user_id` = #{userId}
        order by `create_time` desc
    </select>
</mapper>
