<?xm1 version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bg.mapper.UserMapper">
    <resultMap id="BaseColumnMap" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="headImg" column="head_img"/>
        <result property="roleId" column="role_id"/>
        <result property="userStatus" column="user_status"/>
        <result property="createTime" column="create_time"/>
        <result property="loginTime" column="login_time"/>
        <result property="email" column="email"/>
        <result property="birthday" column="birthday"/>
        <result property="gender" column="gender"/>
    </resultMap>
    <sql id="noUserPwdColumn">
        `id`,`username`,`head_img`,`role_id`,`user_status`,`create_time`,`login_time`,`email`,`birthday`,`gender`
    </sql>
    <insert id="insertUser">
        insert into `user`
        (`id`,`username`,`password`,`head_img`,`role_id`,`user_status`,`create_time`,`login_time`,`email`,`birthday`,`gender`)
        values
        (null, #{username},#{password},null,1,1,#{createTime},#{loginTime},null,null,1)
    </insert>
    <select id="getUserById" resultMap="BaseColumnMap">
        select
        <include refid="noUserPwdColumn"/>
        from `user` where id = #{userId}
    </select>

    <select id="login" resultMap="BaseColumnMap">
        select
        <include refid="noUserPwdColumn"/>
        from `user` where username = #{username} and password = #{password}
    </select>

    <select id="getRoleName" resultType="string">
        select `remark` from `role` where id = #{userId}
    </select>
    <select id="getUserByUsername" resultType="com.bg.entity.User">
        select `username` from `user` where `username` = #{username} limit 1
    </select>

    <update id="updateUserHeadImg">
        update `user` set `head_img` = #{head_img} where `id` = #{userId}
    </update>

    <update id="updateUserPassword">
        update `user` set `password` = #{password} where `id` = #{id}
    </update>
    <update id="updateUserLoginTime">
        update `user` set `login_time` = #{loginTime} where `id` = #{userId}
    </update>

    <update id="updateUser" parameterType="User">
        update `user` set
        <trim suffixOverrides=",">
            <if test="username != null and username != ''">
                `username` =
                case
                when `username` != #{username}
                then #{username}
                else `username`
                end
                ,
            </if>
            <if test="password != null and password != ''">
                `password` =
                case
                when `password` != #{password}
                then #{password}
                else `password`
                end
                ,
            </if>
            <if test="roleId != null and roleId != ''">
                `role_id` =
                case
                when `role_id` != #{roleId}
                then #{roleId}
                else `role_id`
                end
                ,
            </if>
            <if test="userStatus != null and userStatus != ''">
                `userStatus` =
                case
                when `user_status` != #{userStatus}
                then #{userStatus}
                else `user_status`
                end
                ,
            </if>
            <if test="birthday != null and birthday != ''">
                `birthday` =
                case
                when `birthday` != #{birthday}
                then #{birthday}
                else `birthday`
                end
                ,
            </if>
            <if test="gender != null and gender != ''">
                `gender` =
                case
                when `gender` != #{gender}
                then #{gender}
                else `gender`
                end
                ,
            </if>
        </trim>
        where `id` = #{id}
    </update>
</mapper>
